<included>

<!-- java.util.logging.SimpleFormatter.format= [%1$tc]: %2$s: %4$s: %5$s%n -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT-INFO" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	    
	<appender name="FILE-PER-TEST" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<Key>testname</Key>
			<DefaultValue>build/testrun</DefaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${testname}" class="ch.qos.logback.core.FileAppender">
				<!-- location is determined by concordion.output.dir property in gradle.build file --> 
				<File>${testname}.log</File>
				<append>false</append>
				<encoder>
        			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    			</encoder>
			</appender>
		</sift>
	</appender>

	<logger name="org.apache.http" level="WARNING"/>
	<logger name="org.openqa.selenium" level="WARNING"/>
	<logger name="com.sun.activation.registries.LogSupport" level="WARNING"/>
	<logger name="groovy.sql.Sql" level="WARNING"/>
	<logger name="sun.net.www.protocol.http.HttpURLConnection" level="WARNING"/>
	
	<!-- Filter out FailFast warnings from Concordion - the ExceptionLoggingExtension is logging these much better -->
	<logger name="org.concordion.internal.runner.DefaultConcordionRunner" level="ERROR" />
</included>

